@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.style_btn {
  transition: .3s ease-in-out;
}
.style_btn:hover {
  transform: scale(.95);
  transition: .4s ease-in-out;
}
.style_btn:active {
  transform: scale(1.05);
  transition: .4s ease-in-out;
}